body {
  background-color: #ffb35c;
  color: white;
  font-family: verdana;
}

.header h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 400%;
  height: 66px;
  margin-bottom: 0;
}

.header p {
  text-align: center;
  text-indent: -345px;
  font-size: 60%;
  margin-top: 0;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 800px;
  margin: auto;
}

.games img {
  width: 25vw;
  max-width: 200px;
  /* height: 90px; */
  aspect-ratio: 5/3;
  border-style: solid;
  border-color: black;
  border-radius: 8px 8px 0 0;
  margin-bottom: -3px;
}

.games a {
  text-decoration: none;
  color: black;
  display: block;
}

.caption {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 0 0 8px 8px;
  text-align: center;
  margin-top: -3px;
  padding-bottom: 2px;
  font-size: small;
}

@media (max-width: 1000px) {
  .header h1 {
    font-size: 800%;
    margin-bottom: 0;
  }

  .header p {
    text-indent: -722px;
    font-size: 100%;
    margin-top: 60px;
  }

  .games {
    gap: 50px;
    max-width: 700px;
    margin-top: 10vw;
  }

  .games img {
    width: 50vw;
    max-width: 300px;
  }

  .caption {
    font-size: small;
  }
}
